
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    {%- block styles %}
    <!-- 把自动寻找宏改成静态路径 -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    {%- endblock styles %}
    {%- endblock head %}
  </head>


    {% block body -%}
        {% block navbar %}
        {%- endblock navbar %}
        {% block content -%}
        {%- endblock content %}
    {%- endblock body %}

{%- endblock html %}
</html>

