<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>电竞api</title>
  </head>
  <body>
    <h3>请输入以下信息并提交</h3>
    <form  method="POST">
        <p>接口地址:<br><input type="text" name="address" ></p>
        <p>方案商ID:<br><input type="text" name="agent_id"></p>
        <p>方案商秘钥:<br><input type="text" name="agent_key" ></p>
        <p>测试账号:<br><input type="text" name="user_name" ></p>
        <p>外部6-30位数字充值订单号:<br><input type="text" name="order_num" ></p>
        <input type="submit" value="Submit">

    </form>
    <p> 测试环境api地址: http://192.168.50.24:81</p>
    <p> 测试livereload</p>
  </body>
</html>